* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9E7E7;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

/* HEADER */

header {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    box-shadow: #00000056;
}

.title {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    width: 30%;
}

.title h1 {
    color: #000000;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

#but1 {
    display: inline-block;
    background-color: #ED6A5A;
    border-radius: 20px;
    border-width: 0px;
    width: 100px;
    height: 36px;
    text-align: center;
    color: #f8f7f7;
}

#but1:hover {
    background-color: #1d1e18;
    color: #ffffff;
    font-weight: bold;
}

.links a {
    color: #1d1e18;
    text-decoration: none;
}

.title h1:hover {
    font-size: 40px;
}

.links a:hover {
    color: #ED6A5A;
}

/* FOOTER */

footer {
    background-color: #ffffff;
    box-shadow: #00000056;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    margin-top: 500px;
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
}