@media (max-width: 425px) {
    header {
        display: flex;
        flex-flow: column wrap;
        height: 14em;
        justify-content: space-evenly;
        align-items: center;
    }
    .title {
        width: auto;
    }
    .links {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    #container-1 {
        display: flex;
        flex-flow: column;
        height: 110vh;
        margin-bottom: 20%;
        margin-top: 20%;
    }
    #container-1-img {
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
    }
    #img-dog {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    #container-2 {
        display: flex;
        flex-flow: column;
        background-color: #ED6A5A;
        width: 100%;
        height: 400vh;
        flex-direction: column;
    }
    .container-2-title {
        color: #ffffff;
        margin-top: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Zen Maru Gothic', sans-serif;
        font-size: 180%;
    }
    #cards-panel {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 600vh;
        width: 100%;
        margin-top: 2%;
        flex-direction: column;
    }
    .card {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        box-shadow: 5px 10px 10px #00000032;
        width: 80%;
        height: 400px;
    }
}